## Social Media Data Analysis Using Tweeter Data

### Part 1 : Get the Data
Using tweepy for authenticating the consumer key, consumer secret, access token and access token secret.
Downloading public tweet data and storing the time, user and tweet details in a csv file.

In [1]:
import tweepy
import pandas as pd
#import configparser

In [2]:
%run ./keys.ipynb

In [3]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

In [4]:
public_tweets = api.home_timeline()

In [5]:
#Printing all tweets
#print(public_tweets)

In [6]:
#Printing tweets in public tweets
for tweet in public_tweets:
    print(tweet.text)

Second Ebola patient dies in northwestern Congo, WHO says https://t.co/Xiim6EPqhh https://t.co/OCwjipf7gX
Russia accuses NATO of creating a serious risk of nuclear war. Ukraine prepares war crimes charges against Russian… https://t.co/pzBYB6WHgc
Fidelity to allow retirement savings allocation to bitcoin in 401(k) accounts https://t.co/WqijSHXVuM https://t.co/oB2kn9HFLr
Warner Bros Discovery adds 2 mln subscribers in first quarter https://t.co/p1dgl9JMFv https://t.co/CM6m9OAPbw
North Korea will speed up development of its nuclear arsenal, leader Kim Jong Un said while overseeing a huge milit… https://t.co/kDheiKFo15
As plumes of smoke rose above the Azovstal steel plant where Ukrainian fighters are holed up in the port city of Ma… https://t.co/hoHUdZWT8z
Moscow accused NATO of engaging in a proxy battle against Russia by arming Ukraine, saying this had created a serio… https://t.co/smoaiSX3bn
TPG Growth acquires majority stake in proxy firm Morrow Sodali https://t.co/1RkwHhIVaW https://t.co/oHVChBS7Cl
Karachi blast kills three Chinese, including Confucius centre head, and Pakistani https://t.co/Y84DloHEHu https://t.co/ekxykoBqIU
HSBC puts 2022 buyback ambitions on ice as inflation accelerates https://t.co/pvjJwXgM0N https://t.co/qNpgwkyscy
RT @ReutersScience: LIVE: NASA briefing with Bill Nelson ahead of SpaceX launch to ISS https://t.co/kNR9crcyqb
Poland plans drastic cut to Warsaw flights in traffic controller row https://t.co/REdgDjiVQr https://t.co/UlaiAcdoXd
A previously unreported account of a 36-hour chase in June 2020 offers a rare glimpse into how conservation group A… https://t.co/b5IhIZsKck
HSBC posted a 27% drop in quarterly profit and nixed the possibility of more buybacks this year, as rising inflatio… https://t.co/hJEV6scETX
Beijing to test 20 mln for COVID in bid to avert Shanghai lockdown misery https://t.co/n7iaxNFfjW https://t.co/AGccfXlnKE
Russia's 'victory' in Mariupol turns city's dreams to rubble https://t.co/PkVcDXQyuY https://t.co/6VElufAFtd
Today, April 26, marks the 36th anniversary of the Chornobyl nuclear disaster caused by a meltdown in a reactor in… https://t.co/ormVjw8qjH
Health authorities around the world are investigating a mysterious increase in severe cases of hepatitis - inflamma… https://t.co/4VXkAxlg1z
U.S. military landlord put families at risk even after fraud plea, Senate probe says https://t.co/k5RfUZiERE https://t.co/lKEqADEIYs
Maersk says shipping boom will stabilise in H2, revises up profit guidance https://t.co/3XJKZSbGNx https://t.co/Xh3hQCObH0

In [7]:
print(public_tweets[0].user.screen_name)
#retweet_count

Reuters

In [8]:
columns = ['Time', 'Retweets', 'User', 'Tweet']
data = []
for tweet in public_tweets:
    data. append([tweet.created_at, tweet.retweet_count, tweet.user.screen_name, tweet.text])

In [9]:
print (data)

[[datetime.datetime(2022, 4, 26, 13, 40, 19, tzinfo=datetime.timezone.utc), 13, 'Reuters', 'Second Ebola patient dies in northwestern Congo, WHO says https://t.co/Xiim6EPqhh https://t.co/OCwjipf7gX'], [datetime.datetime(2022, 4, 26, 13, 40, tzinfo=datetime.timezone.utc), 11, 'Reuters', 'Russia accuses NATO of creating a serious risk of nuclear war. Ukraine prepares war crimes charges against Russian… https://t.co/pzBYB6WHgc'], [datetime.datetime(2022, 4, 26, 13, 35, 20, tzinfo=datetime.timezone.utc), 9, 'Reuters', 'Fidelity to allow retirement savings allocation to bitcoin in 401(k) accounts https://t.co/WqijSHXVuM https://t.co/oB2kn9HFLr'], [datetime.datetime(2022, 4, 26, 13, 30, 22, tzinfo=datetime.timezone.utc), 7, 'Reuters', 'Warner Bros Discovery adds 2 mln subscribers in first quarter https://t.co/p1dgl9JMFv https://t.co/CM6m9OAPbw'], [datetime.datetime(2022, 4, 26, 13, 30, 10, tzinfo=datetime.timezone.utc), 21, 'Reuters', 'North Korea will speed up development of its nuclear arsenal, leader Kim Jong Un said while overseeing a huge milit… https://t.co/kDheiKFo15'], [datetime.datetime(2022, 4, 26, 13, 30, tzinfo=datetime.timezone.utc), 10, 'Reuters', 'As plumes of smoke rose above the Azovstal steel plant where Ukrainian fighters are holed up in the port city of Ma… https://t.co/hoHUdZWT8z'], [datetime.datetime(2022, 4, 26, 13, 29, 4, tzinfo=datetime.timezone.utc), 35, 'Reuters', 'Moscow accused NATO of engaging in a proxy battle against Russia by arming Ukraine, saying this had created a serio… https://t.co/smoaiSX3bn'], [datetime.datetime(2022, 4, 26, 13, 25, 18, tzinfo=datetime.timezone.utc), 6, 'Reuters', 'TPG Growth acquires majority stake in proxy firm Morrow Sodali https://t.co/1RkwHhIVaW https://t.co/oHVChBS7Cl'], [datetime.datetime(2022, 4, 26, 13, 20, 19, tzinfo=datetime.timezone.utc), 29, 'Reuters', 'Karachi blast kills three Chinese, including Confucius centre head, and Pakistani https://t.co/Y84DloHEHu https://t.co/ekxykoBqIU'], [datetime.datetime(2022, 4, 26, 13, 15, 21, tzinfo=datetime.timezone.utc), 10, 'Reuters', 'HSBC puts 2022 buyback ambitions on ice as inflation accelerates https://t.co/pvjJwXgM0N https://t.co/qNpgwkyscy'], [datetime.datetime(2022, 4, 26, 13, 11, 57, tzinfo=datetime.timezone.utc), 8, 'Reuters', 'RT @ReutersScience: LIVE: NASA briefing with Bill Nelson ahead of SpaceX launch to ISS https://t.co/kNR9crcyqb'], [datetime.datetime(2022, 4, 26, 13, 10, 19, tzinfo=datetime.timezone.utc), 8, 'Reuters', 'Poland plans drastic cut to Warsaw flights in traffic controller row https://t.co/REdgDjiVQr https://t.co/UlaiAcdoXd'], [datetime.datetime(2022, 4, 26, 13, 10, 7, tzinfo=datetime.timezone.utc), 18, 'Reuters', 'A previously unreported account of a 36-hour chase in June 2020 offers a rare glimpse into how conservation group A… https://t.co/b5IhIZsKck'], [datetime.datetime(2022, 4, 26, 13, 10, tzinfo=datetime.timezone.utc), 10, 'Reuters', 'HSBC posted a 27% drop in quarterly profit and nixed the possibility of more buybacks this year, as rising inflatio… https://t.co/hJEV6scETX'], [datetime.datetime(2022, 4, 26, 13, 5, 19, tzinfo=datetime.timezone.utc), 11, 'Reuters', 'Beijing to test 20 mln for COVID in bid to avert Shanghai lockdown misery https://t.co/n7iaxNFfjW https://t.co/AGccfXlnKE'], [datetime.datetime(2022, 4, 26, 13, 1, 10, tzinfo=datetime.timezone.utc), 36, 'Reuters', "Russia's 'victory' in Mariupol turns city's dreams to rubble https://t.co/PkVcDXQyuY https://t.co/6VElufAFtd"], [datetime.datetime(2022, 4, 26, 13, 0, 1, tzinfo=datetime.timezone.utc), 37, 'Reuters', 'Today, April 26, marks the 36th anniversary of the Chornobyl nuclear disaster caused by a meltdown in a reactor in… https://t.co/ormVjw8qjH'], [datetime.datetime(2022, 4, 26, 12, 56, 37, tzinfo=datetime.timezone.utc), 32, 'Reuters', 'Health authorities around the world are investigating a mysterious increase in severe cases of hepatitis - inflamma… https://t.co/4VXkAxlg1z'], [datetime.datetime(2022, 4, 26, 12, 55, 21, tzinfo=datetime.timezone.utc), 7, 'Reuters', 'U.S. military landlord put families at risk even after fraud plea, Senate probe says https://t.co/k5RfUZiERE https://t.co/lKEqADEIYs'], [datetime.datetime(2022, 4, 26, 12, 50, 18, tzinfo=datetime.timezone.utc), 7, 'Reuters', 'Maersk says shipping boom will stabilise in H2, revises up profit guidance https://t.co/3XJKZSbGNx https://t.co/Xh3hQCObH0']]

In [10]:
df = pd.DataFrame(data, columns=columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Time      20 non-null     datetime64[ns, UTC]
 1   Retweets  20 non-null     int64
 2   User      20 non-null     object
 3   Tweet     20 non-null     object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 768.0+ bytes

In [11]:
print(df)

                        Time  Retweets     User  \
0  2022-04-26 13:40:19+00:00        13  Reuters
1  2022-04-26 13:40:00+00:00        11  Reuters
2  2022-04-26 13:35:20+00:00         9  Reuters
3  2022-04-26 13:30:22+00:00         7  Reuters
4  2022-04-26 13:30:10+00:00        21  Reuters
5  2022-04-26 13:30:00+00:00        10  Reuters
6  2022-04-26 13:29:04+00:00        35  Reuters
7  2022-04-26 13:25:18+00:00         6  Reuters
8  2022-04-26 13:20:19+00:00        29  Reuters
9  2022-04-26 13:15:21+00:00        10  Reuters
10 2022-04-26 13:11:57+00:00         8  Reuters
11 2022-04-26 13:10:19+00:00         8  Reuters
12 2022-04-26 13:10:07+00:00        18  Reuters
13 2022-04-26 13:10:00+00:00        10  Reuters
14 2022-04-26 13:05:19+00:00        11  Reuters
15 2022-04-26 13:01:10+00:00        36  Reuters
16 2022-04-26 13:00:01+00:00        37  Reuters
17 2022-04-26 12:56:37+00:00        32  Reuters
18 2022-04-26 12:55:21+00:00         7  Reuters
19 2022-04-26 12:50:18+00:00         7  Reuters

                                                Tweet
0   Second Ebola patient dies in northwestern Cong...
1   Russia accuses NATO of creating a serious risk...
2   Fidelity to allow retirement savings allocatio...
3   Warner Bros Discovery adds 2 mln subscribers i...
4   North Korea will speed up development of its n...
5   As plumes of smoke rose above the Azovstal ste...
6   Moscow accused NATO of engaging in a proxy bat...
7   TPG Growth acquires majority stake in proxy fi...
8   Karachi blast kills three Chinese, including C...
9   HSBC puts 2022 buyback ambitions on ice as inf...
10  RT @ReutersScience: LIVE: NASA briefing with B...
11  Poland plans drastic cut to Warsaw flights in ...
12  A previously unreported account of a 36-hour c...
13  HSBC posted a 27% drop in quarterly profit and...
14  Beijing to test 20 mln for COVID in bid to ave...
15  Russia's 'victory' in Mariupol turns city's dr...
16  Today, April 26, marks the 36th anniversary of...
17  Health authorities around the world are invest...
18  U.S. military landlord put families at risk ev...
19  Maersk says shipping boom will stabilise in H2...

In [12]:
df.to_csv('tweets.csv')

In [13]:
# The Twitter API only allows access to the past few weeks of tweets, it does not allow you to go any further.

### Part 2:  Analyze the data

1.	Social Media Data Analysis
2.	Data Visualization
3.	Sentimental analysis
4.	Text mining

### Listing the top 10 most retweeted tweets

In [14]:
#Most liked tweets
most_retweeted = df.loc[df.Retweets.nlargest(19).index]
print(most_retweeted)

                        Time  Retweets     User  \
16 2022-04-26 13:00:01+00:00        37  Reuters
15 2022-04-26 13:01:10+00:00        36  Reuters
6  2022-04-26 13:29:04+00:00        35  Reuters
17 2022-04-26 12:56:37+00:00        32  Reuters
8  2022-04-26 13:20:19+00:00        29  Reuters
4  2022-04-26 13:30:10+00:00        21  Reuters
12 2022-04-26 13:10:07+00:00        18  Reuters
0  2022-04-26 13:40:19+00:00        13  Reuters
1  2022-04-26 13:40:00+00:00        11  Reuters
14 2022-04-26 13:05:19+00:00        11  Reuters
5  2022-04-26 13:30:00+00:00        10  Reuters
9  2022-04-26 13:15:21+00:00        10  Reuters
13 2022-04-26 13:10:00+00:00        10  Reuters
2  2022-04-26 13:35:20+00:00         9  Reuters
10 2022-04-26 13:11:57+00:00         8  Reuters
11 2022-04-26 13:10:19+00:00         8  Reuters
3  2022-04-26 13:30:22+00:00         7  Reuters
18 2022-04-26 12:55:21+00:00         7  Reuters
19 2022-04-26 12:50:18+00:00         7  Reuters

                                                Tweet
16  Today, April 26, marks the 36th anniversary of...
15  Russia's 'victory' in Mariupol turns city's dr...
6   Moscow accused NATO of engaging in a proxy bat...
17  Health authorities around the world are invest...
8   Karachi blast kills three Chinese, including C...
4   North Korea will speed up development of its n...
12  A previously unreported account of a 36-hour c...
0   Second Ebola patient dies in northwestern Cong...
1   Russia accuses NATO of creating a serious risk...
14  Beijing to test 20 mln for COVID in bid to ave...
5   As plumes of smoke rose above the Azovstal ste...
9   HSBC puts 2022 buyback ambitions on ice as inf...
13  HSBC posted a 27% drop in quarterly profit and...
2   Fidelity to allow retirement savings allocatio...
10  RT @ReutersScience: LIVE: NASA briefing with B...
11  Poland plans drastic cut to Warsaw flights in ...
3   Warner Bros Discovery adds 2 mln subscribers i...
18  U.S. military landlord put families at risk ev...
19  Maersk says shipping boom will stabilise in H2...

In [15]:
most_retweeted.reset_index(drop=True)

,Time,Retweets,User,Tweet
0,2022-04-26 13:00:01+00:00,37,Reuters,"Today, April 26, marks the 36th anniversary of..."
1,2022-04-26 13:01:10+00:00,36,Reuters,Russia's 'victory' in Mariupol turns city's dr...
2,2022-04-26 13:29:04+00:00,35,Reuters,Moscow accused NATO of engaging in a proxy bat...
3,2022-04-26 12:56:37+00:00,32,Reuters,Health authorities around the world are invest...
4,2022-04-26 13:20:19+00:00,29,Reuters,"Karachi blast kills three Chinese, including C..."
5,2022-04-26 13:30:10+00:00,21,Reuters,North Korea will speed up development of its n...
6,2022-04-26 13:10:07+00:00,18,Reuters,A previously unreported account of a 36-hour c...
7,2022-04-26 13:40:19+00:00,13,Reuters,Second Ebola patient dies in northwestern Cong...
8,2022-04-26 13:40:00+00:00,11,Reuters,Russia accuses NATO of creating a serious risk...
9,2022-04-26 13:05:19+00:00,11,Reuters,Beijing to test 20 mln for COVID in bid to ave...
10,2022-04-26 13:30:00+00:00,10,Reuters,As plumes of smoke rose above the Azovstal ste...
11,2022-04-26 13:15:21+00:00,10,Reuters,HSBC puts 2022 buyback ambitions on ice as inf...
12,2022-04-26 13:10:00+00:00,10,Reuters,HSBC posted a 27% drop in quarterly profit and...
13,2022-04-26 13:35:20+00:00,9,Reuters,Fidelity to allow retirement savings allocatio...
14,2022-04-26 13:11:57+00:00,8,Reuters,RT @ReutersScience: LIVE: NASA briefing with B...
15,2022-04-26 13:10:19+00:00,8,Reuters,Poland plans drastic cut to Warsaw flights in ...
16,2022-04-26 13:30:22+00:00,7,Reuters,Warner Bros Discovery adds 2 mln subscribers i...
17,2022-04-26 12:55:21+00:00,7,Reuters,U.S. military landlord put families at risk ev...
18,2022-04-26 12:50:18+00:00,7,Reuters,Maersk says shipping boom will stabilise in H2...

In [16]:
#saving retweets dataframe in CSV
most_retweeted.to_csv("most_retweeted.csv")

## Text Mining

### Obtaining tweets from a specific user accounts- IRCC @CitImmCanada

In [17]:
#Obtaining tweets from specific user accounts
#-In this case, IRCC @CitImmCanada

user = "CitImmCanada"
limit = 300  #the API returns a maximum of 200 tweets per request

tweets_ircc = tweepy.Cursor(api.user_timeline, screen_name=user, count=200, tweet_mode="extended").items(limit)

#tweets_ircc = api.user_timeline(screen_name=user, count=limit, tweet_mode="extended")

#Creating a DataFrame to store the tweets by IRCC
columns1 = ["User", "Tweet"]
data = []

for tweet in tweets_ircc:
    data.append([tweet.user.screen_name, tweet.full_text])
    #print(tweet.full_text)
    
ircc_df = pd.DataFrame(data,columns=columns1)
print(ircc_df)
#print(ircc_df.info())

             User                                              Tweet
0    CitImmCanada  @DenysProd 2/2 For case-specific information, ...
1    CitImmCanada  @DenysProd 1/2 Hi. CUAET electronic visa appli...
2    CitImmCanada  @eireenien 2/2 For case-specific information, ...
3    CitImmCanada  @eireenien 1/2 Hi. CUAET electronic visa appli...
4    CitImmCanada  Our online services were recently unavailable....
..            ...                                                ...
295  CitImmCanada  @Nazir64913160 1/2 Hi. Please check our websit...
296  CitImmCanada  Canada welcomes French-speaking skilled worker...
297  CitImmCanada  The first day of spring marks the beginning of...
298  CitImmCanada  #DYK? There are 14 Welcoming Francophone Commu...
299  CitImmCanada  #WelcomeAfghans: Today is the International Da...

[300 rows x 2 columns]

In [18]:
#saving IRCC tweets in csv
ircc_df.to_csv("ircc_df.csv")

Sentiment analysis # https://www.youtube.com/watch?v=uPKnSq6TaAk
Focus on analyzing:
    1. Most retweeted words
    2. IRCC tweets